# Node
node_modules/
dist/
npm-debug.log
pnpm-lock.yaml
yarn.lock

# Env / secrets
.env
.env.local

# Data / cache
data/
.pnpm-store/
.pnpm-virtual/

# Editor / OS
.vscode/
.DS_Store
thumbs.db